*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    background-color: red;
    width: 95%;
    height: 40px;
    position: relative;
    left: 2.5%;
    top: 10px;
}
.red li{
    position: relative;
    display: inline-flex;
    left: 900px;
    bottom: 15px;
    margin-left: 30px;
}
.fas{
    color: antiquewhite;
}
h2{
    position: relative;
    left: 50px;
    top: 6px;
    color: black;
}
.red li a{
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}